:root {
    --marky-identifier-color: #c800a4;
    --marky-identifier-name-color: #2858b3;
    --marky-class-name-color: #c79229;
    --marky-string-color: #4bad4d;
}

.m-editor__identifier {
    color: var(--marky-identifier-color);
}

.m-editor__identifier-name {
    color: var(--marky-identifier-name-color);
}

.m-editor__class-name {
    color: var(--marky-class-name-color);
}

.m-editor__identifier-string {
    color: var(--marky-string-color);
}
