@import 'marky-keyword-style.css';

.marky__textarea {
    border: 0;
    resize: none;
    outline: none;
    padding: 0 1px;
    margin: 0 -1px;
    z-index: 0;
    position: absolute;
    opacity: 0;
    height: 19px;
    width: 8px;
}

.m-editor__gutter {
    user-select: none;
    display: flex;
    background-color: #e8e8e8;
    flex-direction: column;
    height: 100%;
}

.m-editor__body {
    background-color: #fff;
    color: #222;
    user-select: none;
    position: relative;
    height: 100%;
    display: flex;
    cursor: text;
    overflow: hidden;
    flex-direction: column;
}

.m-editor__gutter-cell {
    padding-right: 1px;
    padding-left: 10px;
}

.m-editor__row {
    height: 16px;
    display: block;
}

.m-editor__layer {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    word-wrap: normal;
    white-space: pre;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    pointer-events: none;
}

.m-editor__layer-text {
    font: inherit !important;
}

.m-editor__layer-caret-container {
    width: 50px;
    height: 16px;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
}

.m-editor__layer-marker-active-line {
    position: absolute;
    height: 16px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.071);
}

.m-editor__layer-caret {
    font-size: 12px;
    background-color: blue;
    color: blue;
    opacity: 0.5;
    height: 1.5em;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
}

.m-editor__layer-partition {
    width: 1px;
    height: 100%;
    background-color: #e8e8e8;;
}

.m-editor__layer-caret-label {
    background: rgba(137, 184, 117, .3);
    position: absolute;
    z-index: 100;
    padding: 0 2px;
    font-size: 50%;
    white-space: nowrap;
    pointer-events: none;
    color: rgba(0, 0, 0, .5);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.m-editor__selection-row {
    position: absolute;
    opacity: 0.5;
    background-color: #b5d5ff;
    z-index: var(--z-index-selection);
}

.m-editor__gutter-cell-widget {
    margin: 0 -12px 0 1px;
    display: inline-block;
    width: 11px;
    vertical-align: top;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAANElEQVR42mWKsQ0AMAzC8ixLlrzQjzmBiEjp0A6WwBCSPgKAXoLkqSot7nN3yMwR7pZ32NzpKkVoDBUxKAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
}
