@import 'marky-keyword-style.css';

:root {
    --marky-text-color: #222;
    --marky-background-color: #fff;
    --marky-background-color-secondary: #e8e8e8;
    --marky-selection-color: #b5d5ff;
    --marky-active-line-color: rgba(0, 0, 0, 0.071);

    --marky-selection-z-index: 10;
    --marky-layer-caret-label-z-index: 20;
    --marky-textarea-z-index: 0;
    --marky-layer-z-index: 1;
}

.marky {
    display: flex;
    position: relative;
    overflow: scroll;
    direction: ltr;
    font-weight: bold;
    text-align: left;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes blinker {
    50% {
        opacity: 0.0
    }
}

.marky__indent-node {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==) right repeat-y;
}

.marky__textarea {
    border: 0;
    resize: none;
    outline: none;
    padding: 0 1px;
    user-select: text;
    margin: 0 -1px;
    z-index: var(--marky-textarea-z-index);
    position: absolute;
    overflow: hidden;
    opacity: 0;
    height: 19px;
    width: 8px;
}

.marky__gutter {
    user-select: none;
    display: flex;
    color: var(--marky-text-color);
    background-color: var(--marky-background-color-secondary);
    flex-direction: column;
    height: 100%;
}

.marky__body {
    background-color: var(--marky-background-color);
    color: var(--marky-text-color);
    user-select: none;
    position: relative;
    height: 100%;
    display: flex;
    cursor: text;
    overflow: hidden;
    flex-direction: column;
}

.marky__gutter-cell {
    padding-right: 1px;
    padding-left: 10px;
}

.marky__row {
    height: 16px;
    display: block;
}

.marky__layer {
    z-index: var(--marky-layer-z-index);
    position: absolute;
    overflow: hidden;
    word-wrap: normal;
    white-space: pre;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    pointer-events: none;
}

.marky__layer-text {
    font: inherit !important;
}

.marky__layer-caret-container {
    width: 50px;
    height: 16px;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
}

.marky__layer-marker-active-line {
    position: absolute;
    height: 16px;
    left: 0;
    right: 0;
    background: var(--marky-active-line-color);
}

.marky__layer-caret {
    font-size: 12px;
    background-color: blue;
    color: blue;
    opacity: 0.5;
    height: 1.5em;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
}

.marky__layer-partition {
    width: 1px;
    height: 100%;
    background-color: var(--marky-background-color-secondary);
}

.marky__layer-caret-label {
    background: rgba(137, 184, 117, .3);
    position: absolute;
    z-index: var(--marky-layer-caret-label-z-index);
    padding: 0 2px;
    font-size: 50%;
    white-space: nowrap;
    pointer-events: none;
    color: rgba(0, 0, 0, .5);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.marky__selection-row {
    position: absolute;
    opacity: 0.5;
    background-color: var(--marky-selection-color);
    z-index: var(--marky-selection-z-index);
}

.marky__gutter-cell-widget {
    margin: 0 -12px 0 1px;
    display: inline-block;
    width: 11px;
    vertical-align: top;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAANElEQVR42mWKsQ0AMAzC8ixLlrzQjzmBiEjp0A6WwBCSPgKAXoLkqSot7nN3yMwR7pZ32NzpKkVoDBUxKAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
}
